/*Подключение функций, миксинов /=============================================================================*/
@use 'sass:math';
@import 'functions';
/*=============================================================================================================*/
/*Подключение шрифтов /=============================================================================*/
@import 'fonts.scss';
/*=============================================================================================================*/
/*Размер шрифта по умолчанию /=============================================================================*/
$mainFontSize: 16;
/*=============================================================================================================*/
/*Контейнер и сетка /=============================================================================*/
$mw: 1330;
$minwidth: rem(320);
$md1: rem($mw+12);
$md2: rem(992.98);
$md3: rem(767.98);
$md4: rem(479.98);

[class*="__container"] {
    max-width: rem($mw);
    margin: 0 auto;
    padding: 0 rem(20);
    width: 100%;
}

/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */
/*=============================================================================================================*/
/*Иконочный шрифт /=============================================================================*/
@import 'icons';
/*=============================================================================================================*/
/*Обнуление /=============================================================================*/
@import 'null';
/*=============================================================================================================*/
/*Переменные для адаптивного свойства /=============================================================================*/
$maxWidth: 1920; //макс ширина
$maxWidthContainer: 1440; //ширина макета

@import "style";
@import "header";
@import "footer";
